//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization


include "/etc/bind/zones.rfc1918";


{% for zone in dns_zones %}

zone "{{ zone }}" in{
    type master;
    notify yes;
    file "/etc/bind/masters/master.{{ zone }}";
    allow-update {none;};
    {% if dns_slave is defined %}
    allow-transfer {
        {{ hostvars[dns_slave].ansible_eth0.ipv4.address }};
    };
    {% endif %}
};

{% endfor %}
