connect = host=localhost dbname=mailsys user=dovecot password={{ lookup('password', 'passwords/vmm_dovecot length=30') }}
map {
  pattern = priv/quota/storage
  table = userquota
  username_field = uid
  value_field = bytes
}
map {
  pattern = priv/quota/messages
  table = userquota
  username_field = uid
  value_field = messages
}
