# /etc/aliases

{% if hostvars[groups['mail_server']] %}
  {% set email_alias = hostvars[groups['mail_server'][0]].root_email_alias %}
{% elif mail_root_alias is defined %}
  {% set email_alias = mail_root_alias %}
{% else %}
  {% set email_alias = "root@" + ansible_domain %}
{% endif %}


mailer-daemon: {{ email_alias }}
postmaster: {{ email_alias }}
nobody: {{ email_alias }}
hostmaster: {{ email_alias }}
usenet: {{ email_alias }}
news: {{ email_alias }}
webmaster: {{ email_alias }}
www: {{ email_alias }}
ftp: {{ email_alias }}
abuse: {{ email_alias }}
noc: {{ email_alias }}
security: {{ email_alias }}
root: {{ email_alias }}
logcheck: {{ email_alias }}
