# A system wide configuration is optional.
# If it exists, it usually defines a default account.
# This allows msmtp to be used like /usr/sbin/sendmail.
account default

# The SMTP smarthost.
{% if hostvars[groups['mail_server']] is defined %}
host {{ hostvars[groups['mail_server'][0]].ansible_fqdn }} 
{% elif mail_smarthost is defined %}
host {{ mail_smarthost }}
{% endif %}

# Construct envelope-from addresses of the form "user@oursite.example".
from root@{{ ansible_fqdn }}

domain {{ ansible_fqdn }}

aliases /etc/aliases

# Use TLS.
tls on
tls_starttls on
{% if (hostvars[groups['mail_server']] is defined and hostvars[groups['mail_server'][0]].ssl_cert_file is defined) or (mail_check_certs) %}
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% else %}
tls_certcheck off
{% endif %}


# Syslog logging with facility LOG_MAIL instead of the default LOG_USER.
syslog LOG_MAIL

