Name: tripwire/broken-passphrase
Template: tripwire/broken-passphrase
Owners: tripwire

Name: tripwire/change-in-default-policy
Template: tripwire/change-in-default-policy
Owners: tripwire

Name: tripwire/email-report
Template: tripwire/email-report
Owners: tripwire

Name: tripwire/installed
Template: tripwire/installed
Value: 
Owners: tripwire
Flags: seen

Name: tripwire/local-passphrase-incorrect
Template: tripwire/local-passphrase-incorrect
Owners: tripwire

Name: tripwire/rebuild-config
Template: tripwire/rebuild-config
Value: true
Owners: tripwire
Flags: seen

Name: tripwire/rebuild-policy
Template: tripwire/rebuild-policy
Value: true
Owners: tripwire
Flags: seen

Name: tripwire/site-passphrase-incorrect
Template: tripwire/site-passphrase-incorrect
Owners: tripwire

Name: tripwire/upgrade
Template: tripwire/upgrade
Owners: tripwire

Name: tripwire/use-localkey
Template: tripwire/use-localkey
Value: true
Owners: tripwire
Flags: seen

Name: tripwire/use-sitekey
Template: tripwire/use-sitekey
Value: true
Owners: tripwire
Flags: seen

Name: tripwire/local-passphrase
Template: tripwire/local-passphrase
Value: blah
Owners: tripwire
Flags: seen

Name: tripwire/local-passphrase-again
Template: tripwire/local-passphrase-again
Value: blah
Owners: tripwire
Flags: seen

Name: tripwire/site-passphrase
Template: tripwire/site-passphrase
Value: blah
Owners: tripwire
Flags: seen

Name: tripwire/site-passphrase-again
Template: tripwire/site-passphrase-again
Value: blah
Owners: tripwire
Flags: seen
