tripwire	tripwire/local-passphrase	{{ hostvars[inventory_hostname]['tripwire_local_passphrase'] }}
tripwire	tripwire/site-passphrase	{{ hostvars[inventory_hostname]['tripwire_site_passphrase'] }}
tripwire	tripwire/site-passphrase-again	{{ hostvars[inventory_hostname]['tripwire_site_passphrase'] }}
tripwire	tripwire/local-passphrase-again	{{ hostvars[inventory_hostname]['tripwire_local_passphrase'] }}
tripwire	tripwire/rebuild-config	boolean	true
tripwire	tripwire/use-localkey	boolean	true
tripwire	tripwire/change-in-default-policy	note	
tripwire	tripwire/email-report	note	
tripwire	tripwire/broken-passphrase	note	
tripwire	tripwire/use-sitekey	boolean	true
tripwire	tripwire/installed	note	
tripwire	tripwire/site-passphrase-incorrect	boolean	false
tripwire	tripwire/upgrade	boolean	true
tripwire	tripwire/rebuild-policy	boolean	true
tripwire	tripwire/local-passphrase-incorrect	boolean	false
