Name: tripwire/local-passphrase
Template: tripwire/local-passphrase
Value: {{ lookup('password', 'passwords/tripwire_local') }}
Owners: tripwire
Flags: seen

Name: tripwire/local-passphrase-again
Template: tripwire/local-passphrase-again
Value: {{ lookup('password', 'passwords/tripwire_local') }}
Owners: tripwire
Flags: seen

Name: tripwire/site-passphrase
Template: tripwire/site-passphrase
Value: {{ lookup('password', 'passwords/tripwire_site') }}
Owners: tripwire
Flags: seen

Name: tripwire/site-passphrase-again
Template: tripwire/site-passphrase-again
Value: {{ lookup('password', 'passwords/tripwire_site') }}
Owners: tripwire
Flags: seen
