# {{ ansible_managed }}
LogFile="/usr/share/awstats/tools/logresolvemerge.pl /var/log/apache2/{{ item.server_name }}-access.* |"
LogType=W
LogFormat=1
LogSeparator=" "

SiteDomain="{{ item.server_name }}"
HostAliases="localhost 127.0.0.1 {{ item.get('server_alias', '') }}"

Include "/etc/awstats/awstats.conf.local"
