CREATE ROLE vmm LOGIN ENCRYPTED PASSWORD 'm2h4fzrb6ZR1ZxMIrIbzj6JqJwWSP8Xn0qixY_RxOKk6-OSQD3pQBuKiwrbyge0WiBAKH64BJ6d-z-0zH2ta2TL61yn-ihqfCIi';
CREATE ROLE dovecot LOGIN ENCRYPTED PASSWORD 'm9RM8Y32gLmU_dwYB3XNRuP-rznxpost8labkKxHrz1tgbSJmlHNwo4mpsA_nlxc0COoPzhs81Hsc-UVXGjfuXbPLvtc79XCKi_';
CREATE ROLE postfix LOGIN ENCRYPTED PASSWORD '6EFSuI83sCEpekk_eBbw7yOPFhaLU5YRxmwBKbKb-UNoF-6Mm7a33Iu-ydrj3Gus2rgGeZH1Y_ucAK9NNjMxhjh0OBaPk7YCdqc';
CREATE ROLE mailsys WITH USER postfix, dovecot, vmm;
CREATE DATABASE mailsys WITH OWNER vmm ENCODING 'UTF8';

