<VirtualHost *:80>
  ServerName {{ item.server_name }}
  ServerAlias {{ item.server_alias }}
  Redirect permanent / https://{{ item.server_name }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ item.server_name }}
  ServerAlias {{ item.server_alias }}
  
  SSLEngine On
  SSLCertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem
  SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

  
  Alias /moin_static193/applets/FCKeditor/ "/usr/share/fckeditor/"
  Alias /moin_static193/ "/usr/share/moin/htdocs/"
  Alias /robots.txt /usr/share/moin/htdocs/robots.txt
  Alias /favicon.ico /usr/share/moin/htdocs/favicon.ico
  DocumentRoot /var/www/wiki/
  
  WSGIScriptAlias / "/usr/share/moin/server/moin.wsgi"
  WSGIDaemonProcess {{ item.name }} user={{ item.name }} group={{ item.name }} home=/home/{{ item.name }} processes=3 threads=10 maximum-requests=1000 umask=0007
  WSGIProcessGroup {{ item.name }}

  ErrorLog /var/log/apache2/{{ item.server_name }}-error.log
  CustomLog /var/log/apache2/{{ item.server_name }}-access.log combined

  <Location />
    Order Allow,Deny
    Allow from all
  </Location>

</VirtualHost>
