# {{ ansible_managed }}
# If you edit this file locally it will be written over the
# next time Ansible is run.
{% block header %}
{% endblock header %}

-A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT

{% block filters %}

{# Note that the variable unblock is a string, so the bool filter
   is used. bool filter is added to Jinja2 by Ansible.

   TODO: make a single generic rules template that iterates over
   a list of ports to open. #}
{% for name, unblock in firewall_unblock.iteritems() %}
{% if unblock|bool %}
{% include "rules/" + name + ".j2" %}
{% endif %}
{% endfor %}


{% block append_filters %}
{% endblock append_filters %}

{% endblock filters %}

{% block footer %}
{% endblock footer %}
COMMIT
