{% extends "base.j2" %}
{% block header %}
*filter
-A INPUT -i lo -j ACCEPT
-A INPUT ! -i lo -d 127.0.0.0/8 -j REJECT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT
{% endblock header %}



{% block footer %}
# iptables.rules.j2
# Unblock mail: {{ firewall_unblock_mail }}
# Unblock dns: {{ firewall_unblock_dns }}
# Unblock monit: {{ firewall_unblock_monit }}

# -A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied: " --log-level 7
-A INPUT -j REJECT --reject-with icmp-port-unreachable
-A FORWARD -j REJECT --reject-with icmp-port-unreachable
-A OUTPUT -j ACCEPT
{% endblock footer %}
