# {{ ansible_managed }}

DNSLookup={{ awstats_DNSLookup }}


DirData="/var/lib/awstats"
DirCgi="/cgi-bin"
DirIcons="/awstats-icon"

# awstats is configured by Ansible playbook for static HTML reports generated
# by a cron task
AllowToUpdateStatsFromBrowser=0
AllowFullYearView=2



#-----------------------------------------------------------------------------
# OPTIONAL SETUP SECTION (Not required but increase AWStats features)
#-----------------------------------------------------------------------------

# When the update process runs, AWStats can set a lock file in TEMP or TMP
# directory. This lock is to avoid to have 2 update processes running at the
# same time to prevent unknown conflicts problems and avoid DoS attacks when
# AllowToUpdateStatsFromBrowser is set to 1.
# Because, when you use lock file, you can experience sometimes problems in
# lock file not correctly removed (killed process for example requires that
# you remove the file manualy), this option is not enabled by default (Do
# not enable this option with no console server access).
# Change : Effective immediatly
# Possible values: 0 or 1
# Default: 0
#
EnableLockForUpdate=0


DNSStaticCacheFile="dnscache.txt"
DNSLastUpdateCacheFile="dnscachelastupdate.txt"


# You can specify specific IP addresses that should NOT be looked up in DNS.
# This option is used only if DNSLookup=1.
# Note: Use space between each value.
# Note: You can use regular expression values writing value with REGEX[value].
# Change : Effective for new updates only
# Example: "123.123.123.123 REGEX[^192\.168\.]"
# Default: ""
#
SkipDNSLookupFor=""

# Note this feature is not used by awstats the way it is configured by
# the Ansible playbook. Static HTML reports are generated by cron, so
# Apache is simply serving the HTML
AllowAccessFromWebToAuthenticatedUsersOnly=1
AllowAccessFromWebToFollowingAuthenticatedUsers=""
AllowAccessFromWebToFollowingIPAddresses=""

CreateDirDataIfNotExists=0
BuildHistoryFormat=text
BuildReportFormat=html

# The Ansible playbook adds an "awstats" system user than runs the statistics
# database update script. The files are owned by awstats:awstats. The www-data
# system user is added to the awstats group so that it can access the files.
SaveDatabaseFilesWithPermissionsForEveryone=0

PurgeLogFile=0
ArchiveLogRecords=0
KeepBackupOfHistoricFiles=0


# Default index page name for your web server.
# Change : Effective for new updates only
# Example: "index.php index.html default.html"
# Default: "index.php index.html"
#
DefaultFile="index.php index.html"


# Do not include access from clients that match following criteria.
# If your log file contains IP addresses in host field, you must enter here
# matching IP addresses criteria.
# If DNS lookup is already done in your log file, you must enter here hostname
# criteria, else enter ip address criteria.
# The opposite parameter of "SkipHosts" is "OnlyHosts".
# Note: Use space between each value. This parameter is not case sensitive.
# Note: You can use regular expression values writing value with REGEX[value].
# Change : Effective for new updates only
# Example: "127.0.0.1 REGEX[^192\.168\.] REGEX[^10\.]"
# Example: "localhost REGEX[^.*\.localdomain$]"
# Default: ""
#
SkipHosts=""


# Do not include access from clients with a user agent that match following
# criteria. If you want to exclude a robot, you should update the robots.pm
# file instead of this parameter.
# The opposite parameter of "SkipUserAgents" is "OnlyUserAgents".
# Note: Use space between each value. This parameter is not case sensitive.
# Note: You can use regular expression values writing value with REGEX[value].
# Change : Effective for new updates only
# Example: "konqueror REGEX[ua_test_v\d\.\d]"
# Default: ""
#
SkipUserAgents=""


# Use SkipFiles to ignore access to URLs that match one of following entries.
# You can enter a list of not important URLs (like framed menus, hidden pages,
# etc...) to exclude them from statistics. You must enter here exact relative
# URL as found in log file, or a matching REGEX value. Check apply on URL with
# all its query paramaters.
# For example, to ignore /badpage.php, just add "/badpage.php". To ignore all
# pages in a particular directory, add "REGEX[^\/directorytoexclude]".
# The opposite parameter of "SkipFiles" is "OnlyFiles".
# Note: Use space between each value. This parameter is or not case sensitive
# depending on URLNotCaseSensitive parameter.
# Note: You can use regular expression values writing value with REGEX[value].
# Change : Effective for new updates only
# Example: "/badpage.php /page.php?param=x REGEX[^\/excludedirectory]"
# Default: ""
#
SkipFiles=""


# Use SkipReferrersBlackList if you want to exclude records coming from a SPAM
# referrer. Parameter must receive a local file name containing rules applied
# on referrer field. If parameter is empty, no filter is applied.
# An example of such a file is available in lib/blacklist.txt
# Change : Effective for new updates only
# Example: "/mylibpath/blacklist.txt"
# Default: ""
#
# WARNING!! Using this feature make AWStats running very slower (5 times slower
# with black list file provided with AWStats !
#
SkipReferrersBlackList=""


# Include in stats, only accesses from hosts that match one of following
# entries. For example, if you want AWStats to filter access to keep only
# stats for visits from particular hosts, you can add those host names in
# this parameter.
# If DNS lookup is already done in your log file, you must enter here hostname
# criteria, else enter ip address criteria.
# The opposite parameter of "OnlyHosts" is "SkipHosts".
# Note: Use space between each value. This parameter is not case sensitive.
# Note: You can use regular expression values writing value with REGEX[value].
# Change : Effective for new updates only
# Example: "127.0.0.1 REGEX[^192\.168\.] REGEX[^10\.]"
# Default: ""
#
OnlyHosts=""


# Include in stats, only accesses from user agent that match one of following
# entries. For example, if you want AWStats to filter access to keep only
# stats for visits from particular browsers, you can add their user agents
# string in this parameter.
# The opposite parameter of "OnlyUserAgents" is "SkipUserAgents".
# Note: Use space between each value. This parameter is not case sensitive.
# Note: You can use regular expression values writing value with REGEX[value].
# Change : Effective for new updates only
# Example: "msie"
# Default: ""
#
OnlyUserAgents=""


# Include in stats, only accesses from authenticated users that match one of
# following entries. For example, if you want AWStats to filter access to keep
# only stats for authenticated users, you can add those users names in
# this parameter. Useful for statistics for per user ftp logs.
# Note: Use space between each value. This parameter is not case sensitive.
# Note: You can use regular expression values writing value with REGEX[value].
# Change : Effective for new updates only
# Example: "john bob REGEX[^testusers]"
# Default: ""
#
OnlyUsers=""


# Include in stats, only accesses to URLs that match one of following entries.
# For example, if you want AWStats to filter access to keep only stats that
# match a particular string, like a particular directory, you can add this
# directory name in this parameter.
# The opposite parameter of "OnlyFiles" is "SkipFiles".
# Note: Use space between each value. This parameter is or not case sensitive
# depending on URLNotCaseSensitive parameter.
# Note: You can use regular expression values writing value with REGEX[value].
# Change : Effective for new updates only
# Example: "REGEX[marketing_directory] REGEX[office\/.*\.(csv|sxw)$]"
# Default: ""
#
OnlyFiles=""


# Add here a list of kind of url (file extension) that must be counted as
# "Hit only" and not as a "Hit" and "Page/Download". You can set here all
# image extensions as they are hit downloaded that must be counted but they
# are not viewed pages. URLs with such extensions are not included in the TOP
# Pages/URL report.
# Note: If you want to exclude particular URLs from stats (No Pages and no
# Hits reported), you must use SkipFiles parameter.
# Change : Effective for new updates only
# Example: "css js class gif jpg jpeg png bmp ico rss xml swf zip arj rar gz z bz2 wav mp3 wma mpg avi"
# Example: ""
# Default: "css js class gif jpg jpeg png bmp ico rss xml swf"
#
NotPageList="css js class gif jpg jpeg png bmp ico rss xml swf"

ValidHTTPCodes="200 304"


# By default, AWStats considers that records found in mail log file are
# successful mail transfers if field that represent return code in analyzed
# log file match values defined by this parameter.
# Change : Effective for new updates only
# Example: "1 250 200"
# Default: "1 250"
#
ValidSMTPCodes="1 250"

AuthenticatedUsersNotCaseSensitive=0
URLNotCaseSensitive=0
URLWithAnchor=0
URLQuerySeparators="?;"


URLWithQuery={{ awstats_URLWithQuery }}
URLWithQueryWithOnlyFollowingParameters=""
URLWithQueryWithoutFollowingParameters=""

URLReferrerWithQuery={{ awstats_URLReferrerWithQuery }}

WarningMessages=1


# When an error occurs, AWStats outputs a message related to errors. If you
# want (in most cases for security reasons) to have no error messages, you
# can set this parameter to your personalized generic message.
# Change : Effective immediatly
# Example: "An error occurred. Contact your Administrator"
# Default: ""
#
ErrorMessages=""

# To help you to detect if your log format is good, AWStats reports an error
# if all the first NbOfLinesForCorruptedLog lines have a format that does not
# match the LogFormat parameter.
# However, some worm virus attack on your web server can result in a very high
# number of corrupted lines in your log. So if you experience awstats stop
# because of bad virus records at the beginning of your log file, you can
# increase this parameter (very rare).
# Change : Effective for new updates only
# Default: 50
#
NbOfLinesForCorruptedLog=50

# MiscTrackerUrl can be used to make AWStats able to detect some miscellaneous
# things, that can not be tracked on other way, like:
# - Javascript disabled
# - Java enabled
# - Screen size
# - Color depth
# - Macromedia Director plugin
# - Macromedia Shockwave plugin
# - Realplayer G2 plugin
# - QuickTime plugin
# - Mediaplayer plugin
# - Acrobat PDF plugin
# To enable all these features, you must copy the awstats_misc_tracker.js file
# into a /js/ directory stored in your web document root and add the following
# HTML code at the end of your index page (but before </BODY>) :
#
# <script type="text/javascript" src="/js/awstats_misc_tracker.js"></script>
# <noscript><img src="/js/awstats_misc_tracker.js?nojs=y" height=0 width=0 border=0 style="display: none"></noscript>
#
# If code is not added in index page, all those detection capabilities will be
# disabled. You must also check that ShowScreenSizeStats and ShowMiscStats
# parameters are set to 1 to make results appear in AWStats report page.
# If you want to use another directory than /js/, you must also change the
# awstatsmisctrackerurl variable into the awstats_misc_tracker.js file.
# Change : Effective for new updates only.
# Possible value: URL of javascript tracker file added in your HTML code.
# Default: "/js/awstats_misc_tracker.js"
#
MiscTrackerUrl="/js/awstats_misc_tracker.js"



#-----------------------------------------------------------------------------
# OPTIONAL ACCURACY SETUP SECTION (Not required but increase AWStats features)
#-----------------------------------------------------------------------------

# The following values allow you to define accuracy of AWStats entities
# (robots, browsers, os, referers, file types) detection.
# It might be a good idea for large web sites or ISP that provides AWStats to
# high number of customers, to set this parameter to 1 (or 0), instead of 2.
# Possible values:
#    0      = No detection,
#    1      = Medium/Standard detection
#    2      = Full detection
# Change : Effective for new updates only
# Note   : LevelForBrowsersDetection can also accept value "allphones". This
#          enable detailed detection of phone/pda browsers.
# Default: 2 (0 for LevelForWormsDetection)
#
LevelForBrowsersDetection=2         # 0 disables Browsers detection.
                                    # 2 reduces AWStats speed by 2%
                                    # allphones reduces AWStats speed by 5%
LevelForOSDetection=2               # 0 disables OS detection.
                                    # 2 reduces AWStats speed by 3%
LevelForRefererAnalyze=2            # 0 disables Origin detection.
                                    # 2 reduces AWStats speed by 14%
LevelForRobotsDetection=2           # 0 disables Robots detection.
                                    # 2 reduces AWStats speed by 2.5%
LevelForSearchEnginesDetection=2    # 0 disables Search engines detection.
                                    # 2 reduces AWStats speed by 9%
LevelForKeywordsDetection=2         # 0 disables Keyphrases/Keywords detection.
                                    # 2 reduces AWStats speed by 1%
LevelForFileTypesDetection=2        # 0 disables File types detection.
                                    # 2 reduces AWStats speed by 1%
LevelForWormsDetection=0            # 0 disables Worms detection.
                                    # 2 reduces AWStats speed by 15%



#-----------------------------------------------------------------------------
# OPTIONAL APPEARANCE SETUP SECTION (Not required but increase AWStats features)
#-----------------------------------------------------------------------------

DetailedReportsOnNewWindows=0
MaxRowsInHTMLOutput=1000
ShowMenu=1					

# Set your primary language (ISO-639-1 language codes).
# Possible values:
#  Albanian=al, Bosnian=ba, Bulgarian=bg, Catalan=ca,
#  Chinese (Taiwan)=tw, Chinese (Simpliefied)=cn, Croatian=hr, Czech=cz,
#  Danish=dk, Dutch=nl, English=en, Estonian=et, Euskara=eu, Finnish=fi,
#  French=fr, Galician=gl, German=de, Greek=gr, Hebrew=he, Hungarian=hu,
#  Icelandic=is, Indonesian=id, Italian=it, Japanese=jp, Korean=ko,
#  Latvian=lv, Norwegian (Nynorsk)=nn, Norwegian (Bokmal)=nb, Polish=pl,
#  Portuguese=pt, Portuguese (Brazilian)=br, Romanian=ro, Russian=ru,
#  Serbian=sr, Slovak=sk, Slovenian=si, Spanish=es, Swedish=se, Turkish=tr,
#  Ukrainian=ua, Welsh=cy.
#  First available language accepted by browser=auto
# Default: "auto"
#
Lang="auto"
DirLang="/usr/share/awstats/lang"


# You choose here which reports you want to see in the main page and what you
# want to see in those reports.
# Possible values:
#  0  - Report is not shown at all
#  1  - Report is shown in main page with an entry in menu and default columns
# XYZ - Report shows column informations defined by code X,Y,Z...
#       X,Y,Z... are code letters among the following:
#        U = Unique visitors
#        V = Visits
#        P = Number of pages
#        H = Number of hits (or mails)
#        B = Bandwith (or total mail size for mail logs)
#        L = Last access date
#        E = Entry pages
#        X = Exit pages
#        C = Web compression (mod_gzip,mod_deflate)
#        M = Average mail size (mail logs)
#

# Show monthly summary
# Context: Web, Streaming, Mail, Ftp
# Default: UVPHB, Possible column codes: UVPHB
ShowSummary=UVPHB

# Show monthly chart
# Context: Web, Streaming, Mail, Ftp
# Default: UVPHB, Possible column codes: UVPHB
ShowMonthStats=UVPHB

# Show days of month chart
# Context: Web, Streaming, Mail, Ftp
# Default: VPHB, Possible column codes: VPHB
ShowDaysOfMonthStats=VPHB

# Show days of week chart
# Context: Web, Streaming, Mail, Ftp
# Default: PHB, Possible column codes: PHB
ShowDaysOfWeekStats=PHB

# Show hourly chart
# Context: Web, Streaming, Mail, Ftp
# Default: PHB, Possible column codes: PHB
ShowHoursStats=PHB

# Show domains/country chart
# Context: Web, Streaming, Mail, Ftp
# Default: PHB, Possible column codes: PHB
ShowDomainsStats=PHB

# Show hosts chart
# Context: Web, Streaming, Mail, Ftp
# Default: PHBL, Possible column codes: PHBL
ShowHostsStats=PHBL

# Show authenticated users chart
# Context: Web, Streaming, Ftp
# Default: 0, Possible column codes: PHBL
ShowAuthenticatedUsers=0

# Show robots chart
# Context: Web, Streaming
# Default: HBL, Possible column codes: HBL
ShowRobotsStats=HBL

# Show worms chart
# Context: Web, Streaming
# Default: 0 (If set to other than 0, see also LevelForWormsDetection), Possible column codes: HBL
ShowWormsStats=0

# Show email senders chart (For use when analyzing mail log files)
# Context: Mail
# Default: 0, Possible column codes: HBML
ShowEMailSenders=0

# Show email receivers chart (For use when analyzing mail log files)
# Context: Mail
# Default: 0, Possible column codes: HBML
ShowEMailReceivers=0

# Show session chart
# Context: Web, Streaming, Ftp
# Default: 1, Possible column codes: None
ShowSessionsStats=1

# Show pages-url chart.
# Context: Web, Streaming, Ftp
# Default: PBEX, Possible column codes: PBEX
ShowPagesStats=PBEX

# Show file types chart.
# Context: Web, Streaming, Ftp
# Default: HB, Possible column codes: HBC
ShowFileTypesStats=HB

# Show file size chart (Not yet available)
# Context: Web, Streaming, Mail, Ftp
# Default: 1, Possible column codes: None
ShowFileSizesStats=0	

# Show downloads chart.
# Context: Web, Streaming, Ftp
# Default: HB, Possible column codes: HB
ShowDownloadsStats=HB	

# Show operating systems chart
# Context: Web, Streaming, Ftp
# Default: 1, Possible column codes: None
ShowOSStats=1

# Show browsers chart
# Context: Web, Streaming
# Default: 1, Possible column codes: None
ShowBrowsersStats=1

# Show screen size chart
# Context: Web, Streaming
# Default: 0 (If set to 1, see also MiscTrackerUrl), Possible column codes: None
ShowScreenSizeStats=0

# Show origin chart
# Context: Web, Streaming
# Default: PH, Possible column codes: PH
ShowOriginStats=PH

# Show keyphrases chart
# Context: Web, Streaming
# Default: 1, Possible column codes: None
ShowKeyphrasesStats=1

# Show keywords chart
# Context: Web, Streaming
# Default: 1, Possible column codes: None
ShowKeywordsStats=1

# Show misc chart
# Context: Web, Streaming
# Default: a (See also MiscTrackerUrl parameter), Possible column codes: anjdfrqwp
ShowMiscStats=a

# Show http errors chart
# Context: Web, Streaming
# Default: 1, Possible column codes: None
ShowHTTPErrorsStats=1

# Show smtp errors chart (For use when analyzing mail log files)
# Context: Mail
# Default: 0, Possible column codes: None
ShowSMTPErrorsStats=0

# Show the cluster report (Your LogFormat must contains the %cluster tag)
# Context: Web, Streaming, Ftp
# Default: 0, Possible column codes: PHB
ShowClusterStats=0


# Some graphical reports are followed by the data array of values.
# If you don't want this array (to reduce the report size for example), you
# can set thoose options to 0.
# Possible values: 0 or 1
# Default: 1
#
# Data array values for the ShowMonthStats report
AddDataArrayMonthStats=1
# Data array values for the ShowDaysOfMonthStats report
AddDataArrayShowDaysOfMonthStats=1
# Data array values for the ShowDaysOfWeekStats report
AddDataArrayShowDaysOfWeekStats=1
# Data array values for the ShowHoursStats report
AddDataArrayShowHoursStats=1


# In the Origin chart, you have stats on where your hits came from. You can
# include hits on pages that come from pages of same sites in this chart.
# Possible values: 0 or 1
# Default: 0
#
IncludeInternalLinksInOriginSection={{ awstats_IncludeInternalLinksInOriginSection }}


# The following parameters can be used to choose the maximum number of lines
# shown for the particular following reports.
#
# Stats by countries/domains
MaxNbOfDomain = 10
MinHitDomain  = 1
# Stats by hosts
MaxNbOfHostsShown = 10
MinHitHost    = 1
# Stats by authenticated users
MaxNbOfLoginShown = 10
MinHitLogin   = 1
# Stats by robots
MaxNbOfRobotShown = 10
MinHitRobot   = 1
# Stats for Downloads
MaxNbOfDownloadsShown = 10
MinHitDownloads = 1
# Stats by pages
MaxNbOfPageShown = 10
MinHitFile    = 1
# Stats by OS
MaxNbOfOsShown = 10
MinHitOs      = 1
# Stats by browsers
MaxNbOfBrowsersShown = 10
MinHitBrowser = 1
# Stats by screen size
MaxNbOfScreenSizesShown = 5
MinHitScreenSize = 1
# Stats by window size (following 2 parameters are not yet used)
MaxNbOfWindowSizesShown = 5
MinHitWindowSize = 1
# Stats by referers
MaxNbOfRefererShown = 10
MinHitRefer   = 1
# Stats for keyphrases
MaxNbOfKeyphrasesShown = 10
MinHitKeyphrase = 1
# Stats for keywords
MaxNbOfKeywordsShown = 10
MinHitKeyword = 1
# Stats for sender or receiver emails
MaxNbOfEMailsShown = 20
MinHitEMail   = 1


FirstDayOfWeek={{ awstats_FirstDayOfWeek }}
ShowLinksOnUrl=1
UseHTTPSLinkForUrl="{{ awstats_UseHTTPSLinkForUrl }}"
MaxLengthOfShownURL=64
HTMLHeadSection="{{ awstats_HTMLHeadSection }}"
HTMLEndSection="{{ awstats_HTMLEndSection }}"
MetaRobot=0
StyleSheet="{{ awstats_StyleSheet }}"

# You can set Logo and LogoLink to use your own logo.
# Logo must be the name of image file (must be in $DirIcons/other directory).
# LogoLink is the expected URL when clicking on Logo.
# Default: "awstats_logo6.png"
#
Logo="awstats_logo6.png"
LogoLink="http://awstats.sourceforge.net"


# Value of maximum bar width/height for horizontal/vertical HTML graphics bars.
# Default: 260/90
#
BarWidth   = 260
BarHeight  = 90




# Those color parameters can be used (if StyleSheet parameter is not used)
# to change AWStats look.
# Example: color_name="RRGGBB"	# RRGGBB is Red Green Blue components in Hex
#
color_Background="FFFFFF"		# Background color for main page (Default = "FFFFFF")
color_TableBGTitle="CCCCDD"		# Background color for table title (Default = "CCCCDD")
color_TableTitle="000000"		# Table title font color (Default = "000000")
color_TableBG="CCCCDD"			# Background color for table (Default = "CCCCDD")
color_TableRowTitle="FFFFFF"	# Table row title font color (Default = "FFFFFF")
color_TableBGRowTitle="ECECEC"	# Background color for row title (Default = "ECECEC")
color_TableBorder="ECECEC"		# Table border color (Default = "ECECEC")
color_text="000000"				# Color of text (Default = "000000")
color_textpercent="606060"		# Color of text for percent values (Default = "606060")
color_titletext="000000"		# Color of text title within colored Title Rows (Default = "000000")
color_weekend="EAEAEA"			# Color for week-end days (Default = "EAEAEA")
color_link="0011BB"				# Color of HTML links (Default = "0011BB")
color_hover="605040"			# Color of HTML on-mouseover links (Default = "605040") 
color_u="FFAA66"				# Background color for number of unique visitors (Default = "FFAA66")
color_v="F4F090"				# Background color for number of visites (Default = "F4F090")
color_p="4477DD"				# Background color for number of pages (Default = "4477DD")
color_h="66DDEE"				# Background color for number of hits (Default = "66DDEE")
color_k="2EA495"				# Background color for number of bytes (Default = "2EA495")
color_s="8888DD"				# Background color for number of search (Default = "8888DD")
color_e="CEC2E8"				# Background color for number of entry pages (Default = "CEC2E8")
color_x="C1B2E2"				# Background color for number of exit pages (Default = "C1B2E2")



#-----------------------------------------------------------------------------
# PLUGINS
#-----------------------------------------------------------------------------

# Add here all plugin files you want to load.
# Plugin files must be .pm files stored in 'plugins' directory.
# Uncomment LoadPlugin lines to enable a plugin after checking that perl
# modules required by the plugin are installed.

# PLUGIN: Tooltips
# REQUIRED MODULES: None
# PARAMETERS: None
# DESCRIPTION: Add tooltips pop-up help boxes to HTML report pages.  
# NOTE: This will increased HTML report pages size, thus server load and bandwidth.
#
#LoadPlugin="tooltips"

# PLUGIN: DecodeUTFKeys
# REQUIRED MODULES: Encode and URI::Escape
# PARAMETERS: None
# DESCRIPTION: Allow AWStats to show correctly (in language charset) 
# keywords/keyphrases strings even if they were UTF8 coded by the 
# referer search engine.
#
#LoadPlugin="decodeutfkeys"

# PLUGIN: IPv6
# PARAMETERS: None
# REQUIRED MODULES: Net::IP and Net::DNS
# DESCRIPTION: This plugin gives AWStats capability to make reverse DNS
# lookup on IPv6 addresses.
#
#LoadPlugin="ipv6"

# PLUGIN: HashFiles
# REQUIRED MODULES: Storable
# PARAMETERS: None
# DESCRIPTION: AWStats DNS cache files are read/saved as native hash files. 
# This increases DNS cache files loading speed, above all for very large web sites.
#
LoadPlugin="hashfiles"


# PLUGIN: UserInfo
# REQUIRED MODULES: None
# PARAMETERS: None
# DESCRIPTION: Add a text (Firtname, Lastname, Office Department, ...) in 
# authenticated user reports for each login value.
# A text file called userinfo.myconfig.txt, with two fields (first is login,
# second is text to show, separated by a tab char) must be created in DirData
# directory.
#
#LoadPlugin="userinfo"

# PLUGIN: HostInfo
# REQUIRED MODULES: Net::XWhois
# PARAMETERS: None
# DESCRIPTION: Add a column into host chart with a link to open a popup window that shows
# info on host (like whois records).
#
#LoadPlugin="hostinfo"

# PLUGIN: ClusterInfo
# REQUIRED MODULES: None
# PARAMETERS: None
# DESCRIPTION: Add a text (for example a full hostname) in cluster reports for each cluster
# number. A text file called clusterinfo.myconfig.txt, with two fields (first is
# cluster number, second is text to show) separated by a tab char. must be
# created into DirData directory.
# Note this plugin is useless if ShowClusterStats is set to 0 or if you don't
# use a personalized log format that contains %cluster tag.
#
#LoadPlugin="clusterinfo"

# PLUGIN: UrlAliases
# REQUIRED MODULES: None
# PARAMETERS: None
# DESCRIPTION: Add a text (Page title, description...) in URL reports before URL value.
# A text file called urlalias.myconfig.txt, with two fields (first is URL,
# second is text to show, separated by a tab char) must be created into
# DirData directory.
#
#LoadPlugin="urlalias"

# PLUGIN: TimeHiRes
# REQUIRED MODULES: Time::HiRes (if Perl < 5.8)
# PARAMETERS: None
# DESCRIPTION: Time reported by -showsteps option is in millisecond. For debug purpose.
#
#LoadPlugin="timehires"		

# PLUGIN: TimeZone
# REQUIRED MODULES: Time::Local
# PARAMETERS: [timezone offset]
# DESCRIPTION: Allow AWStats to adjust time stamps for a different timezone
# This plugin reduces AWStats speed of 10% !!!!!!!
# LoadPlugin="timezone"
# LoadPlugin="timezone +2"
# LoadPlugin="timezone CET"
#
#LoadPlugin="timezone +2"

# PLUGIN: Rawlog
# REQUIRED MODULES: None
# PARAMETERS: None
# DESCRIPTION: This plugin adds a form in AWStats main page to allow users to see raw
# content of current log files. A filter is also available.
#
#LoadPlugin="rawlog"

# PLUGIN: GraphApplet
# REQUIRED MODULES: None
# PARAMETERS: [CSS classes to override]
# DESCRIPTION: Supported charts are built by a 3D graphic applet.
#
#LoadPlugin="graphapplet /awstatsclasses"				# EXPERIMENTAL FEATURE

# PLUGIN: GeoIPfree
# REQUIRED MODULES: Geo::IPfree version 0.2+ (from Graciliano M.P.)
# PARAMETERS: None
# DESCRIPTION: Country chart is built from an Internet IP-Country database.
# This plugin is useless for intranet only log files.
# Note: You must choose between using this plugin (need Perl Geo::IPfree
# module, database is free but not up to date) or the GeoIP plugin (need
# Perl Geo::IP module from Maxmind, database is also free and up to date).
# Note: Activestate provide a corrupted version of Geo::IPfree 0.2 Perl
# module, so install it from elsewhere (from www.cpan.org for example).
# This plugin reduces AWStats speed by up to 10% !
#
#LoadPlugin="geoipfree"

#-----------------------------------------------------------------------------
# EXTRA SECTIONS
#-----------------------------------------------------------------------------

# You can define your own charts, you choose here what are rows and columns
# keys. This feature is particularly useful for marketing purpose, tracking
# products orders for example.
# For this, edit all parameters of Extra section. Each set of parameter is a
# different chart. For several charts, duplicate section changing the number.
# Note: Each Extra section reduces AWStats speed by 8%.
#
# WARNING: A wrong setup of Extra section might result in too large arrays
# that will consume all your memory, making AWStats unusable after several
# updates, so be sure to setup it correctly.
# In most cases, you don't need this feature.
#
# ExtraSectionNameX is title of your personalized chart.
# ExtraSectionCodeFilterX is list of codes the record code field must match.
#   Put an empty string for no test on code.
# ExtraSectionConditionX are conditions you can use to count or not the hit,
#   Use one of the field condition
#   (URL,URLWITHQUERY,QUERY_STRING,REFERER,UA,HOSTINLOG,HOST,VHOST,extraX)
#   and a regex to match, after a coma. Use "||" for "OR".
# ExtraSectionFirstColumnTitleX is the first column title of the chart.
# ExtraSectionFirstColumnValuesX is a string to tell AWStats which field to
#   extract value from
#   (URL,URLWITHQUERY,QUERY_STRING,REFERER,UA,HOSTINLOG,HOST,VHOST,extraX)
#   and how to extract the value (using regex syntax). Each different value
#   found will appear in first column of report on a different row. Be sure
#   that list of different possible values will not grow indefinitely.
# ExtraSectionFirstColumnFormatX is the string used to write value.
# ExtraSectionStatTypesX are things you want to count. You can use standard
#   code letters (P for pages,H for hits,B for bandwidth,L for last access).
# ExtraSectionAddAverageRowX add a row at bottom of chart with average values.
# ExtraSectionAddSumRowX add a row at bottom of chart with sum values.
# MaxNbOfExtraX is maximum number of rows shown in chart.
# MinHitExtraX is minimum number of hits required to be shown in chart.
#

# Example to report the 20 products the most ordered by "order.cgi" script
#ExtraSectionName1="Product orders"
#ExtraSectionCodeFilter1="200 304"
#ExtraSectionCondition1="URL,\/cgi\-bin\/order\.cgi||URL,\/cgi\-bin\/order2\.cgi"
#ExtraSectionFirstColumnTitle1="Product ID"
#ExtraSectionFirstColumnValues1="QUERY_STRING,productid=([^&]+)"
#ExtraSectionFirstColumnFormat1="%s"
#ExtraSectionStatTypes1=PL
#ExtraSectionAddAverageRow1=0
#ExtraSectionAddSumRow1=1
#MaxNbOfExtra1=20
#MinHitExtra1=1


# There is also a global parameter ExtraTrackedRowsLimit that limits the
# number of possible rows an ExtraSection can report. This parameter is
# here to protect too much memory use when you make a bad setup in your
# ExtraSection. It applies to all ExtraSection independently meaning that
# none ExtraSection can report more rows than value defined by ExtraTrackedRowsLimit.
# If you know an ExtraSection will report more rows than its value, you should
# increase this parameter or AWStats will stop with an error.
# Example: 2000
# Default: 500
#
ExtraTrackedRowsLimit=500
