/bin
/dev
/lib
/lib32
/lib64
/lost+found
/media
/mnt
/proc
/run
/sbin
/sys
/tmp
/usr/bin
/usr/games
/usr/include
/usr/lib
/usr/lib32
/usr/lib64
/usr/sbin
/usr/share
/usr/src
/var/cache
/var/run
/var/tmp
/var/lib/postgresql
